<div class="ctn">
    <h1>Random Beer</h1>


    <table id="randomBeersTable">
        <th width="100px">Name</th>
        <th width="500px">Description</th>
        <th width="150px">Image</th>
        <th width="100px">Tagline</th>
        <th width="100px">Food Pairing</th>
        <th width="100px">Brewers Tips</th>


            <tr>
                <%- include('./partials/beerInfo.ejs', {beer:oneRandomBeer}) %> 

                <td>
                    <ul>
                    <%oneRandomBeer.food_pairing.forEach(pairing => { %>
                        <li><%-pairing%></li>


                    <%})%>
                </ul>
                 
                
                
                </td>
                <td><%= oneRandomBeer.brewers_tips %></td>
            </tr>

    </table>



</div>